body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    max-width: 100%;
    margin-bottom: 24px;
}

header {
    height: 70px;
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
}

.logo-img {
    width: 70%;
    max-width: 124px;
}

.banner {
    margin: 0 auto;
    display: flex;
    height: 250px;
    width: 100%;
    background-image: url(banner.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.btn-primary {
    background: #F31624;
    border-radius: 4px;
    color: #fff;
    width: 320px;
    padding: 16px 0;
    text-align: center;
    font-weight: 600;
    border: none;
    margin-bottom: 24px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
}

.container {
    padding: 0 20px;
}

.ilustration-img {
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 24px;
}

.wrapper {
    margin-bottom: 16px;
}

.bg-pink {
    background-color: #FEE7E9;
    padding: 16px 20px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mt-0 {
    margin-top: 0;
}

span,
p,
h1,
h2,
h3 {
    color: #465A64;
    display: block;
}

.c-red {
    color: #F31624;
}

.text-l {
    font-size: 32px;
    font-weight: 600;
}

.text-m {
    font-size: 24px;
    font-weight: 600;
}

.text-s {
    font-size: 16px;
    font-weight: 600;
}

.container-70 {
    width: 73%;
    float: right;
    margin-bottom: 24px;
}

.dots-img {
    position: absolute;
    margin-left: -98px;
}